In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1706,tt0463854,15000000,64238440,28 Weeks Later,Imogen Poots|Robert Carlyle|Rose Byrne|Jeremy ...,Juan Carlos Fresnadillo,When days turn to weeks... the horror returns.,"In this chilling sequel to 28 Days Later, the ...",100,Horror|Thriller|Science Fiction,DNA Films|Figment Films|Sociedad General de Ci...,4/26/2007,6.3,2007
474,tt0968264,25000000,15478800,The Conspirator,Evan Rachel Wood|James McAvoy|Kevin Kline|Robi...,Robert Redford,One bullet killed the President. But not one man.,Mary Surratt is the lone female charged as a c...,122,Crime|Drama|History,Wildwood Enterprises|American Film Company,9/10/2010,5.9,2010
592,tt0163025,93000000,368780809,Jurassic Park III,Sam Neill|William H. Macy|TÃ©a Leoni|Trevor Mo...,Joe Johnston,"This time, it's not just a walk in the park!","In need of funds for research, Dr. Alan Grant ...",92,Adventure|Action|Thriller|Science Fiction,Universal Studios|Amblin Entertainment,7/18/2001,5.6,2001
850,tt1533749,29000000,33662874,Xin shao lin si,Andy Lau|Nicholas Tse|Fan Bingbing|Jackie Chan...,Benny Chan,"In a land torn by strife, the righteous monks ...",China is plunged into strife as feuding warlor...,131,Action|Drama,Emperor Motion Pictures|China Film Group Corpo...,1/20/2011,6.4,2011
362,tt1100119,40000000,28972508,Shorts,Jimmy Bennett|Kat Dennings|Jolie Vanier|Willia...,Robert Rodriguez,Not So TALL Tales From The Director Of 'Spy Kids',"A young boy's discovery of a colorful, wish-gr...",89,Comedy|Family,Warner Bros. Pictures,8/21/2009,4.8,2009

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример:
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
# +
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
max = data['budget'].max()
data[data['budget'] == max]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли,
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'  # +

In [9]:
max = data['runtime'].max()
data[data['runtime'] == max]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'  # +

In [11]:
min = data['runtime'].min()
data[data['runtime'] == min]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '2. 110'  # +

In [13]:
mean = data['runtime'].mean()
display("%0.0f" % mean)

'110'

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '1. 107'  # +

In [88]:
mediana = data['runtime'].median()
display("%0.0f" % mediana)

'107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['6'] = '5. Avatar (tt0499549)'  # +

In [17]:
# лучше код получения столбца profit вынести в Предобработку что в начале
# создадим новый столбец прибыль
data['profit'] = data['revenue'] - data['budget']

max_profit = data['profit'].max()
data[data['profit'] == max_profit]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = '5. The Lone Ranger (tt1210819)'  # +

In [19]:
min_profit = data['profit'].min()
data[data['profit'] == min_profit]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = '1. 1478'  # +

In [21]:
# посчитали количество фильмов, удовлетворяющих условию по названиям фильмов
data[data['revenue'] > data['budget']].original_title.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = '4. The Dark Knight (tt0468569)'  # +

In [23]:
# Создадим вспомагательный датафрейм, только с фильмами 2008 года
data1 = data[(data['release_year'] == 2008)]


profit_2008 = data1['profit'].max()
data1[data1['profit'] == profit_2008]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = '5. The Lone Ranger (tt1210819)'  # +

In [25]:
# Создадим вспомагательный датафрейм, только с фильмами за период с 2012 по 2014 г.
data2 = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]


loss = data2['profit'].min()
data2[data2['profit'] == loss]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [26]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

data3 = data.copy()
data3.genres = data3.genres.apply(lambda x: x.split('|'))


# функция подсчета количества фильмов по жанрам
def genres_count(a):
    for i in a:
        if i in genres_dict:
            genres_dict[i] += 1
        else:
            genres_dict[i] = 1
    return genres_dict


genres_dict = {}
data3['genres'].apply(genres_count)
genres_series = pd.Series(genres_dict).sort_values(ascending=False)
print(genres_series)

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

In [89]:
import collections
data3 = data.copy()
data3.genres = data3.genres.apply(lambda x: x.split('|'))


# подсчет количества фильмов по жанрам
c = collections.Counter()
for category in data3.genres:
    for genre in category:
        c[genre] += 1
print(c)

Counter({'Drama': 782, 'Comedy': 683, 'Thriller': 596, 'Action': 582, 'Adventure': 415, 'Crime': 315, 'Romance': 308, 'Family': 260, 'Science Fiction': 248, 'Fantasy': 222, 'Horror': 176, 'Mystery': 168, 'Animation': 139, 'Music': 64, 'History': 62, 'War': 58, 'Western': 19, 'Documentary': 8, 'Foreign': 2})

In [94]:
answers['11'] = '3. Drama'  # +

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [93]:
data = pd.read_csv('movie_bd_v5.csv')

# создадим новый столбец прибыль
data['profit'] = data['revenue'] - data['budget']

# создадим датафрейм с положительной прибылью
data3 = data.copy()
data3 = data3[data3['profit'] > 0]

# подсчет количества фильмов по жанрам
collections.Counter(data3['genres'].str.cat(sep='|').split('|')).most_common(10)

[('Drama', 560),
 ('Comedy', 551),
 ('Thriller', 446),
 ('Action', 444),
 ('Adventure', 337),
 ('Romance', 242),
 ('Crime', 231),
 ('Family', 226),
 ('Science Fiction', 195),
 ('Fantasy', 188)]

In [92]:
answers['12'] = '1. Drama'  # +

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [32]:
data = pd.read_csv('movie_bd_v5.csv')
data4 = data.copy()


# разбиваем строку таблицы на строки по режиссерам
data4.director = data4.director.apply(lambda x: x.split('|'))
data4 = data4.explode('director')

# сгруппируем по суммарным кассовым сборам
data4.groupby('director')['revenue'].apply(sum).sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

In [33]:
answers['13'] = '5. Peter Jackson'  # +

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [34]:
data = pd.read_csv('movie_bd_v5.csv')
data5 = data.copy()

# отссортируем датафрейм по стилю Action
data5 = data[data.genres.str.contains('Action', na=False)]

# подсчитаем количество уникальных значений
collections.Counter(data5['director'].str.cat(sep='|').split('|')).most_common(10)

[('Robert Rodriguez', 9),
 ('Michael Bay', 7),
 ('Paul W.S. Anderson', 7),
 ('Antoine Fuqua', 6),
 ('Ridley Scott', 6),
 ('Brett Ratner', 5),
 ('Quentin Tarantino', 5),
 ('Zack Snyder', 5),
 ('Roland Emmerich', 5),
 ('Andrzej Bartkowiak', 5)]

In [95]:
answers['14'] = '3. Robert Rodriguez'  # +

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [47]:
data = pd.read_csv('movie_bd_v5.csv')
data6 = data.copy()

# отсортируем датафрейм по году
data6 = data6[data6['release_year'] == 2012]

# сгрупперем по убыванию кассовых сборов
data_result = data6.explode('cast').groupby(['cast', 'revenue']).aggregate('sum').sort_values(by='revenue', ascending=False)

display(data_result)

,,budget,runtime,vote_average,release_year
cast,revenue,,,,
Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson,1519557910,220000000,143,7.3,2012
Daniel Craig|Judi Dench|Javier Bardem|Ralph Fiennes|Naomie Harris,1108561013,200000000,143,6.8,2012
Christian Bale|Michael Caine|Gary Oldman|Anne Hathaway|Tom Hardy,1081041287,250000000,165,7.5,2012
Ian McKellen|Martin Freeman|Richard Armitage|Andy Serkis|Cate Blanchett,1017003568,250000000,169,6.9,2012
John Leguizamo|Ray Romano|Chris Wedge|Denis Leary|Seann William Scott,877244782,95000000,88,6.2,2012
...,...,...,...,...,...
Kirsten Dunst|Jim Sturgess|Timothy Spall|James Kidnie|Heidi Hawkins,8106475,60000000,104,6.1,2012
Robert Pattinson|Sarah Gadon|Juliette Binoche|Paul Giamatti|Samantha Morton,6063556,20500000,109,4.8,2012
Bruce Willis|Josh Duhamel|Rosario Dawson|Vincent D'Onofrio|50 Cent,4636169,20000000,97,5.7,2012
Jason Bateman|Hope Davis|Frank Grillo|Paula Patton|Michael Nyqvist,3428048,10000000,115,6.7,2012
Nicolas Cage|Malin Ã…kerman|Josh Lucas|Sami Gayle|Danny Huston,2106557,35000000,96,5.1,2012

In [48]:
answers['15'] = '3. Chris Hemsworth'  # +

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [96]:
data = pd.read_csv('movie_bd_v5.csv')

# отсортируем датафрейм по среднему значению бюджета
data7 = data[data['budget'] >= data['budget'].mean()]

# подсчитаем количество уникальных значений
collections.Counter(data7['cast'].str.cat(sep = '|').split('|')).most_common(10)

[('Matt Damon', 18),
 ('Adam Sandler', 17),
 ('Angelina Jolie', 16),
 ('Tom Cruise', 15),
 ('Samuel L. Jackson', 15),
 ('Eddie Murphy', 15),
 ('Mark Wahlberg', 14),
 ('Hugh Jackman', 14),
 ('Ben Stiller', 14),
 ('Jamie Foxx', 14)]

In [50]:
answers['16'] = '3. Matt Damon'  # +

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [97]:
data = pd.read_csv('movie_bd_v5.csv')
data8 = data.copy()

# отсортируем датафрейм по актеру снимавшемуся в фильме
data8 = data[data.cast.str.contains('Nicolas Cage', na = False)]

# подсчитаем количество уникальных значений
collections.Counter(data8['genres'].str.cat(sep = '|').split('|')).most_common(10)

[('Action', 17),
 ('Thriller', 15),
 ('Drama', 12),
 ('Crime', 10),
 ('Fantasy', 8),
 ('Adventure', 7),
 ('Comedy', 6),
 ('Science Fiction', 4),
 ('Mystery', 3),
 ('Animation', 3)]

In [52]:
answers['17'] = '2. Action'  # +

# 18. Самый убыточный фильм от Paramount Pictures

In [54]:
data = pd.read_csv('movie_bd_v5.csv')

# создадим дополнительный столбец прибыль
data['profit'] = data['revenue'] - data['budget']

data9 = data.copy()

# отсортируем датафрейм по компании
data9 = data9[data9.production_companies.str.contains('Paramount Pictures', na = False)]

# найдем самый убыточный фильм
loss = data9['profit'].min()
data9[data9['profit'] == loss]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

In [55]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'  # +

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [56]:
data = pd.read_csv('movie_bd_v5.csv')
data10 = data.copy()

# отсортируем датафрейм по суммарным кассовым сборам
data10.groupby('release_year').agg('sum')['revenue'].sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [57]:
answers['19'] = '5. 2015'  # +

# 20. Какой самый прибыльный год для студии Warner Bros?

In [59]:
answers['20'] = '1. 2014'  # +

In [98]:
data = pd.read_csv('movie_bd_v5.csv')

# создадим дополнительный столбец прибыль
data['profit'] = data['revenue'] - data['budget']
data11 = data.copy()

# отсортируем датафрейм по компании Warner Bros
data11 = data11[data.production_companies.str.contains('Warner Bros', na=False)]


# определим самый прибыльный год
data11.groupby('release_year').agg('sum')['profit'].sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [61]:
data = pd.read_csv('movie_bd_v5.csv')
data12 = data.copy()

# содадаи дополнительный столбец, где будет месяц выхода фильма
data12.release_date = data12.release_date.apply(lambda x: x.split('/'))
data12['month'] = data12.release_date.apply(lambda x: x[0])


#посчитаем количество фильмов по месяцам
data_month = data12['month'].value_counts()
display(data_month)

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

In [62]:
answers['21'] = '4. Сентябрь'  # +

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [63]:
data_summer = data_month['6'] + data_month['7'] + data_month['8']
print(data_summer)

450

In [64]:
answers['22'] = '2. 450'  # +

# 23. Для какого режиссера зима – самое продуктивное время года?

In [99]:
data = pd.read_csv('movie_bd_v5.csv')
data14 = data.copy()


# содадаи дополнительный столбец, где будет месяц выхода фильма
data14.release_date = data14.release_date.apply(lambda x: x.split('/'))
data14['month'] = data14.release_date.apply(lambda x: x[0])

# отсортируем по летним месяцам
data14 = data14[(data14['month'] == '1') | (data14['month'] == '2') | (data14['month'] == '12')]


data14.director = data14.director.apply(lambda x: x.split('|'))
data14 = data14.explode('director')

#Подсчитываем количество фильмов для каждого режиссера
data_winter = data14['director'].value_counts()
display(data_winter)

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Adam Shankman        4
Shawn Levy           4
                    ..
Ben Stiller          1
Rob Letterman        1
Todd Edwards         1
Joseph Kosinski      1
Martin McDonagh      1
Name: director, Length: 358, dtype: int64

In [100]:
answers['23'] = '5. Peter Jackson'  # +

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [101]:
data = pd.read_csv('movie_bd_v5.csv')
data15 = data.copy()


# создаем колонку с длинами названий фильмов
data15['title_len'] = data15['original_title'].apply(lambda x: len(x))

data15['production_companies'] = data15['production_companies'].apply(lambda x: x.split('|'))
data15 = data15.explode('production_companies')


# выбираем самые длинные названия
data15.groupby(['production_companies', 'title_len']).aggregate('mean').sort_values(by='title_len', ascending=False)

,,budget,revenue,runtime,vote_average,release_year
production_companies,title_len,,,,,
Four By Two Productions,83,18000000.0,261572744.0,82.0,6.4,2006.0
Twentieth Century Fox Film Corporation,83,18000000.0,261572744.0,82.0,6.4,2006.0
Walt Disney,62,180000000.0,748806957.0,143.0,6.5,2005.0
Walden Media,62,180000000.0,748806957.0,143.0,6.5,2005.0
21 Laps Entertainment,59,28000000.0,100654149.0,81.0,6.2,2014.0
...,...,...,...,...,...,...
Arc Productions,1,30000000.0,48428063.0,79.0,6.5,2009.0
Starz Animation,1,30000000.0,48428063.0,79.0,6.5,2009.0
Relativity Media,1,30000000.0,48428063.0,79.0,6.5,2009.0
Focus Films,1,30000000.0,48428063.0,79.0,6.5,2009.0
Tim Burton Productions,1,30000000.0,48428063.0,79.0,6.5,2009.0

In [68]:
answers['24'] = '5. Four By Two Productions'  # +

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [69]:
data = pd.read_csv('movie_bd_v5.csv') 
data15 = data.copy()


#создаем колонку с длинами описаний фильмов
data15['long_overview'] = data15['overview'].apply(lambda x:len(x))
data15 = data15[data15['long_overview'] > data15['long_overview'].mean()]


# сгруппируем по длинне описаний фильмов
data15.groupby(['production_companies', 'long_overview']).aggregate('mean').sort_values(by='long_overview', ascending=False)

,,budget,revenue,runtime,vote_average,release_year
production_companies,long_overview,,,,,
Lions Gate Films|Lakeshore Entertainment|GreeneStreet Films|Midnight Picture Show,1000,15000000.0,3533227.0,98.0,5.7,2008.0
Fox Searchlight Pictures|Room 9 Entertainment,964,6500000.0,24793509.0,92.0,7.1,2005.0
New Line Cinema,960,14000000.0,25482931.0,95.0,6.4,2002.0
Columbia Pictures|Revolution Studios|Happy Madison Productions,959,75000000.0,195745823.0,106.0,5.9,2003.0
The Weinstein Company,948,10000000.0,17273593.0,90.0,5.7,2011.0
...,...,...,...,...,...,...
Touchstone Pictures,309,40000000.0,8493890.0,85.0,6.2,2002.0
Foresight Unlimited|RAMCO|Captivity Productions,308,17000000.0,2626800.0,96.0,4.5,2007.0
"Universal Pictures|Stillking Films|Sommers Company, The",308,160000000.0,300257475.0,132.0,5.9,2004.0
Universal Pictures|Canadian Film or Video Production Tax Credit (CPTC)|Gold Circle Films|Province of British Columbia Production Services Tax Credit|H2F Entertainment,308,12000000.0,5285197.0,94.0,5.7,2007.0
The Zanuck Company|Columbia Pictures Corporation|Jinks/Cohen Company|Tim Burton Productions,308,70000000.0,122919055.0,125.0,7.4,2003.0

In [70]:
answers['25'] = '3. Midnight Picture Show'  # +

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [102]:
data = pd.read_csv('movie_bd_v5.csv') 
data16 = data.copy()

# Найдем общее количество фильмов
length = len(data['vote_average'])

# Найдем один процент от общего количества
length_p = int(length * 0.01)

# Выведем 1% лучших по рейтину фильмов
data16.groupby('original_title').agg('max')['vote_average'].sort_values(ascending=False).head(length_p)

original_title
The Dark Knight                                  8.1
The Imitation Game                               8.0
Inside Out                                       8.0
Interstellar                                     8.0
Room                                             8.0
The Grand Budapest Hotel                         7.9
The Pianist                                      7.9
Guardians of the Galaxy                          7.9
Memento                                          7.9
The Wolf of Wall Street                          7.9
Inception                                        7.9
Gone Girl                                        7.9
12 Years a Slave                                 7.9
The Lord of the Rings: The Return of the King    7.9
Prisoners                                        7.8
The Fault in Our Stars                           7.8
Eternal Sunshine of the Spotless Mind            7.8
The Prestige                                     7.8
Name: vote_average, dtype: float64

In [74]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'  # +

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [87]:
data = pd.read_csv('movie_bd_v5.csv') 
data17 = data.copy()
data17.cast = data17.cast.apply(lambda x: x.split('|'))
import itertools

# создаем пустой промежуточный список
test_list_2 = []
test_list_final = []

# наполняем список парами артистов. для этого из каждой 5-ки артистов, снимавшихся в одном фильме составляем пары
# и включаем пары в список. получается список списков
for i in range(len(data17.cast)):
    test_list_2_1 = list(itertools.combinations(data17.cast.iloc[i], 2))
    test_list_2.append(test_list_2_1)
    
    
# из списка списков делаем плоский список
for element in test_list_2:
    for duet in element:
        test_list_final.append(duet)

#постчитаем количество уникальных пар        
result = pd.Series(test_list_final)
result.value_counts()

(Daniel Radcliffe, Rupert Grint)          8
(Daniel Radcliffe, Emma Watson)           8
(Rupert Grint, Emma Watson)               7
(Johnny Depp, Helena Bonham Carter)       6
(Ben Stiller, Owen Wilson)                6
                                         ..
(Julianne Moore, Charlotte Gainsbourg)    1
(Cuba Gooding Jr., Aunjanue Ellis)        1
(Bradley Cooper, Emma Stone)              1
(Jamie Foxx, Bobby Cannavale)             1
(Ty Burrell, Harris Yulin)                1
Length: 18121, dtype: int64

ВАРИАНТ 2

In [103]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'  # +

# Submission

In [104]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [105]:
# и убедиться что ни чего не пропустил)
len(answers)

27